/******************** Body ********************/

body {
    padding: 1em 0;
    font-family: "Lato-Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/******************** Header ********************/

div.header {
    margin-bottom: 0;
}

div.header div.title a {
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

@media (min-width: 550px) {
    div.header div.title {
        text-align:left;
    }
}

hr.header-break {
    margin: 2rem 0 3rem 0;
    padding: 0;
}

/******************** Index ********************/

div.index {
    margin-top: -2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

div.index > div.item {
    margin-bottom: 2.5rem;
}

div.index > div.item > div.title a{
    font-size: 2.5rem;
    line-height: 2.7rem;
    color: inherit;
    text-decoration: none;
}

div.index > div.item > div.date {
    font-size: 2.5rem;
    color: rgba(74,73,74,0.74);
    line-height: 2.7rem;
    margin-top: 1rem;
}

@media (min-width: 550px) {
    div.index > div.item > div.date {
        text-align: right;
        display: block;
        margin-top: 0rem;
    }
}

/******************** Post ********************/

div.post h1 {
    font-size: 4rem;
}

div.post h2 {
    font-size: 3.5rem;
}

div.post h3 {
    font-size: 3.0rem;
}

div.post h4 {
    font-size: 2.5rem;
}

div.post h5 {
    font-size 2.0rem;
}

div.post hr {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

div.post > div.content p {
    font-size: 2.5rem;
}

div.post > div.content li {
    font-size: 2.2rem;
}

/* Based on sample code from
   http://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */

div.post blockquote {
    background: #f9f9f9;
    border-left: 8px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

div.post blockquote p {
    display: inline;
}

div.post ul {
    list-style: disc inside none;
}

div.post div.highlight {
    background: #002B36;
    padding-top: 0.1em;
    padding-bottom: 0.1rem;
    padding-left: 1.2em;
    border-radius: 4px;
}

div.post pre {
    border-radius: 4px;
}

div.post pre > code {
    background: #002B36;
    color: #fff;
}
